@font-face {
    font-family: 'Salsa';
    src: url(../assets/Fonts/Salsa-Regular.ttf);
}
.recipe-layout {
    background-color: darkseagreen;
    margin: 0;
    background-image: url('/images/square_background.svg');
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}


.main-recipes {
    margin: 5rem 20rem;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "Vortext Bild"
        "Zutaten Bild"
        "Zubereitung Zubereitung "
        "Anmerkung Anmerkung"; 
}
#head-text {
    grid-area: "Vortext";
}
#ingredients {
    grid-area: "Zutaten";
}
.image-time {
    grid-area: Bild;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "Image"
        "Time";
}
#recipe-image {
    grid-area: Image;
    justify-self: end;
    margin-top: 5rem;
    border-radius: 10px;
    object-fit: cover;
    height: 400px;
    width: 400px;
}
.time {
    grid-area: Time;
    justify-self: end;
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-content: center; 
    border: 2px solid #527048;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #36401f;
    background-color: #b4d3a6;
    padding: 4px;
    /* flex-wrap: wrap; */
}
.timerecipe { 
    display: flex;
    align-items: center;
    /* padding: 4px;*/
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-left: 8px;
}
.amount {
    grid-area: Time;
    justify-self: end;
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-content: center; 
    border: 2px solid #527048;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 10em;
    color: #36401f;
    background-color: #b4d3a6;
    padding: 4px;
    /* flex-wrap: wrap; */
}
.amount-number { 
    display: flex;
    align-items: center;
    /* padding: 4px;*/
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-left: 8px;
}
.printPDF {
    display: inline-block;
    grid-area: Obertext;
    margin-bottom: 0.5em;
    background-color: #b4d3a6;
    color: #36401f;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #527048;
    padding: 6px 8px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
#preparation {
    grid-area: Zubereitung;
    background-color: #9cc89c;
    border: 2px solid #527048;
    border-radius: 10px;
    padding-left: 1em;
    padding-bottom: 20px;
    color: #36401f;
    margin-bottom: 30px;
}
#head-text {
    margin-left: 15px;
    color: #36401f
}
#head-text h1 {
    font-size: 4em;
    font-family: Salsa;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}
.unterüberschrift {
    margin-left: 2em;
    font-size: 0.6em;
}
#head-text p {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
}
h2 {
   display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    font-weight: bold;
}
#ingredients h2 {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ingredients ul li {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 8px 0;
}
#ingredients h3 {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ingredients {
    padding-left: 1em;
    background-color: #a0b9a0;
    border: 2px solid #527048;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #36401f
}
#preparation h3 {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}
#preparation h2 {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#preparation p {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-right: 15px;
}
#Anmerkung {
    grid-area: Anmerkung;
    background-color: #7ca073;
    border: 2px solid #527048;
    border-radius: 10px;
    padding-left: 1em;
    padding-bottom: 20px;
    color: #36401f
}
#Anmerkung h2 {
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Anmerkung p {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}
a.back-button{
    text-decoration: none;
}
.back-button {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 10px;
    color: #36401f;
    display: flex;
    justify-content: start;
    width: 5vw;
    margin: 0 1em;
    margin-top: 0.5em;
    transition: all 0.5s;
    cursor: pointer;
}
.back-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.back-button span:after {
    content: 'Zurück';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -70px;
    transition: 0.5s;
}
.back-button:hover span {
    padding-right: 100px;
}
.back-button:hover {
    width: 145px;
    transition: 0.5s;
}
.back-button:hover span:after {
    opacity: 1;
    right: 0;
}
.back-button:hover {
    background-color: #c8e5b9;
}

@media (max-width: 1822px) {
    .main-recipes {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "Vortext"
            "Bild"
            "Zutaten"
            "Zubereitung"
            "Anmerkung";
    }
    #head-text {
        grid-area: "Vortext";
    }
    #recipe-image {
        justify-self: start;
        margin: 2em 0;
    }
    #ingredients {
        grid-area: "Zutaten";
    }
    .time {
        margin-bottom: 2em;
    }
    .amount {
        margin-bottom: 2em;
    }
    .image-time {
        grid-template-columns: 60% 40%;
        grid-template-areas: "Image Time";
  
    }
}

@media (max-width: 1440px) {
    .main-recipes {
        margin: 5rem;
    }
}

@media (max-width: 973px) {
    header a div {
        font-size: 10vw;
    }
}
@media (max-width: 957px) {
    .time {
        justify-self: start;
    }
    .amount {
        justify-self: center;
        margin-right: 13em;
    }
    .image-time {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
            "Image"
            "Time";
    }
}

@media (max-width: 810px) {
    .amount {
        margin-right: 0;
        margin-left: 10em;
        justify-self: start;
    }
}

@media (max-width: 690px) {
    #recipe-image {
        justify-self: start;
        margin-top: 0;
    }
    .unterüberschrift {
        font-size: 5vw;
    }
}

@media (max-width: 560px) {
    #recipe-image {
        width: 300px;
        height: 300px;
    }
    .main-recipes {
        margin: 1.5rem;
    }
    .main-recipes h1 {
        font-size: 11.5vw;
    }
    
}
